# Aktifkan mod_rewrite

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Jika kamu pakai subfolder (opsional), aktifkan baris ini:
    # RewriteBase /app.sewaambulaneindonesia24jam.com/

    # Jangan sentuh file atau folder yang benar-benar ada (seperti assets, js, css)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Arahkan semua permintaan ke index.php
    RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>

# Blokir akses ke file tersembunyi (seperti .git, .env)

<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>
